[run]
branch = True
source = robot
omit =
    robot/__main__.py
    robot/tests/*

[report]
show_missing = True
skip_covered = False
precision = 0
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
